{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="/blog/{{post.key.id()}}">{{post.post_title}}</a></h2>
            <p class="blog-post-meta">Published by {{post.post_submitter}} on <span class="glyphicon glyphicon-time"></span> {{ post.post_created.strftime('%Y-%m-%d-%I:%M') }}</p>
            <p>{{post.post_body | safe}}</p>
            <br>
            <p class="blog-post-meta">Last edited <span class="glyphicon glyphicon-time"></span> {{ post.last_edited.strftime('%Y-%m-%d-%I:%M') }}</p>
            <div class="post-likes">
                <span class="number-of-likes pull-right">
                    {% if post.post_likes >= 0 %}
                    {{ post.post_likes }}
                    {% else %}
                    0
                    {% endif %}
                    <span class="glyphicon glyphicon-heart"></span>
                </span>
                {% if user.name == post.post_submitter %}
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
                {% else %}
                    {% if user.key.id() not in post.liked_by %}
                        <button data-likes="{{ post.post_likes }}"
                            data-value="{{ post.key.id() }}"
                            data-user="{{ user.key.id() }}"
                            class="like-post-btn btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-hand-up"></span> Like
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
{% endblock %}
