{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="/blog/{{post.key.id()}}">{{post.post_title}}</a></h2>
            <p class="blog-post-meta">Published by {{post.post_submitter}} on <span class="glyphicon glyphicon-time"></span> {{ post.post_created.strftime('%Y-%m-%d-%I:%M') }}</p>
            <p>{{post.post_body | safe}}</p>
            <br>
            <p class="blog-post-meta">Last edited <span class="glyphicon glyphicon-time"></span> {{ post.last_edited.strftime('%Y-%m-%d-%I:%M') }}</p>
        </div>
    {% endfor %}
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
{% endblock %}
