{% extends "base.html" %}
{% block content %}
{% if user %}
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="post-submitter" value="{{user.name}}">
    {{error_message | safe}}
    <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" class="form-control" name="post-title">
    </div>
    <div class="form-group">
        <label for="title">Post Category</label>
        <br>
        <select name="post-category" id="">
           <option value='Bootstrap'>Bootstrap</option><option value='JavaScript'>JavaScript</option><option value='Python'>Python</option><option value='Meow'>Meow</option><option value='Hockey'>Hockey</option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Post Status</label>
        <br>
        <select name="post-status" id="">
            <option value="draft">Draft</option>
            <option value="published">Published</option>
        </select>
    </div>
    <div class="form-group">
        <label for="post_image">Post Image</label>
        <input type="file"  name="post-image">
    </div>
    <div class="form-group">
        <label for="post_tags">Post Tags</label>
        <input type="text" class="form-control" name="post-tags">
    </div>
    <div class="form-group">
        <label for="post_content">Post Content</label>
        <textarea class="form-control "name="post-body" id="" cols="30" rows="10">{{post_body}}</textarea>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" name="create-post" value="Publish Post">
    </div>
</form>
{% else %}
<p>Please log in before you post.</p>
{% endif %}
{% endblock %}
