{% extends "base.html" %}
{% block scripthead %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% endblock %}
{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">{{post.post_title}}</h2>
    <p class="blog-post-meta">Published by {{post.post_submitter}} on <span class="glyphicon glyphicon-time"></span> {{ post.post_created.strftime('%Y-%m-%d-%I:%M') }}</p>
    <div id="post-body">{{post.post_body | safe}}</div>
    <br>
    <p class="blog-post-meta">Last edited <span class="glyphicon glyphicon-time"></span> {{ post.last_edited.strftime('%Y-%m-%d-%I:%M') }}</p>
    <div class="post-likes">
        <span class="number-of-likes pull-right">
            {% if post.post_likes >= 0 %}
            {{ post.post_likes }}
            {% else %}
            0
            {% endif %}
            <span class="glyphicon glyphicon-heart"></span>
        </span>
    </div>
    {% if user %}
        {% if user.name == post.post_submitter %}
        <button id="open-edit-post-btn" type="button" class="btn btn-primary" data-value="{{ post.key.id() }}">Edit</button>
        <button id="delete-post-btn" type="button" class="btn btn-danger" data-id="{{ post.key.id() }}">Delete</button>
        {% else %}
            {% if user.key.id() not in post.liked_by %}
                <button data-likes="{{ post.post_likes }}"
                    data-value="{{ post.key.id() }}"
                    data-user="{{ user.key.id() }}"
                    class="like-post-btn btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-hand-up"></span> Like
                </button>
            {% endif %}
        {% endif %}
        <div class="well post-edit-box" style="display: none;">
            <h4>Edit post:</h4>
            <form id="edit-post-form" role="form">
                <div class="form-group">
                    <label for="Author">Posting as {{ user.name }}</label>
                    <input id="post-submitter" type="hidden" name="post-submitter" value="{{ user.name }}">
                    <input id="post-id" type="hidden" name="post-id" value="{{ post.key.id() }}">
                </div>
                <div id="post-form-textarea" class="form-group">
                    <textarea id="post-body" name="post-body" class="form-control" rows="3">{{ post.post_body }}</textarea>
                    <label id="post-body-error" style="display:none;" class="control-label" for="comment">Please enter a post body.</label>
                </div>
                <input id="submit-edit-btn" value="Submit" type="submit" name="edit-post" class="btn btn-primary">
                <button id="close-edit-post-btn" class="pull-right btn btn-primary">Close</button>
            </form>
        </div>
    {% endif %}
</div>
    {% if comments %}
        {% for comment in comments %}
            <div class="media comment">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                <h4 class="media-heading">{{ comment.comment_submitter}} <small> at {{ comment.comment_created.strftime('%Y-%m-%d-%I:%M') }}</small></h4>
                <div id="comment-body">{{ comment.comment_body | safe }}</div>
                <span class="number-of-likes pull-right" id="likes">
                    {% if comment.comment_likes >= 0 %}
                    {{ comment.comment_likes }}
                    {% else %}
                    0
                    {% endif %}
                    <span class="glyphicon glyphicon-heart"></span>
                </span>
                </div>
            {% if user %}
                {% if user.name == comment.comment_submitter %}
                <button type="button" class="open-edit-comment-btn btn btn-primary">Edit</button>
                <button type="button" data-id="{{ comment.key.id() }}" class="delete-comment-btn btn btn-danger">Delete</button>
                {% else %}
                    {% if user.key.id() not in comment.liked_by %}
                        <button data-likes="{{ comment.comment_likes }}"
                            data-value="{{ comment.key.id() }}"
                            data-user="{{ user.key.id() }}"
                            class="like-comment-btn btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-hand-up"></span> Like
                        </button>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
            <div class="well comment-edit-box" style="display: none;">
                <h4>Edit comment:</h4>
                <form id="edit-comment-form" role="form">
                    <div class="form-group">
                        <label for="Author">Posting as {{ user.name }}</label>
                        <input id="comment-id" type="hidden" name="comment-id" value="{{ comment.key.id() }}">
                    </div>
                    <div id="post-form-textarea" class="form-group">
                        <textarea id="comment-body" name="comment-body" class="form-control" rows="3">{{ comment.comment_body }}</textarea>
                        <label id="comment-body-error" style="display:none;" class="control-label" for="comment">Please enter a comment body.</label>
                    </div>
                    <input value="Submit" type="submit" name="edit-comment" class="submit-comment-edit-btn btn btn-primary">
                    <button class="close-edit-comment-btn pull-right btn btn-primary">Close</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div class="media comment"></div>
    {% endif %}
    <div id="loading"></div>
<div class="well comment-box">
    {% if user %}
    <h4>Leave a Comment:</h4>
    <form id="comment-form" role="form">
        <div class="form-group">
            <label for="Author">Posting as {{ user.name }}</label>
            <input id="comment-submitter" type="hidden" name="comment-submitter" value="{{ user.name }}">
            <input id="parent" type="hidden" name="parent" value="{{ post.key.id() }}">
        </div>
        <div id="comment-form-textarea" class="form-group">
            <textarea id="comment-body" name="comment-body" class="form-control" rows="3"></textarea>
            <label id="comment-body-error" style="display:none;" class="control-label" for="comment">Please enter a comment body.</label>
        </div>
        <input id="submit-comment-btn" value="Submit" type="submit" name="create-comment" class="btn btn-primary">
    </form>
    {% else %}
    <p>Please sign in to leave a comment.</p>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/comment.js"></script>
    <script src="/static/js/posts.js"></script>
{% endblock %}
