{% extends "base.html" %}
{% block scripthead %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% endblock %}
{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">{{post.post_title}}</h2>
    <p class="blog-post-meta">Published by {{post.post_submitter}} on <span class="glyphicon glyphicon-time"></span> {{ post.post_created.strftime('%Y-%m-%d-%I:%M') }}</p>
    <p>{{post.post_body | safe}}</p>
    <br>
    <p class="blog-post-meta">Last edited <span class="glyphicon glyphicon-time"></span> {{ post.last_edited.strftime('%Y-%m-%d-%I:%M') }}</p>
</div>
<div class="well">
    {% if user %}
    <h4>Leave a Comment:</h4>
    <form id="comment-form" action="/blog/newcomment" method="post" role="form">
        <div class="form-group">
            <label for="Author">Posting as {{ user.name }}</label>
            <input type="hidden" name="comment-submitter" value="{{ user.name }}">
            <input type="hidden" name="comment-parent-id" value="{{ post.key.id() }}">
        </div>
        <div id="comment-form-textarea" class="form-group">
            <label for="comment">Your Comment</label>
            <textarea id="comment-body" name="comment-body" class="form-control" rows="3"></textarea>
            <label id="comment-body-error" style="display:none;" class="control-label" for="comment">Please enter a comment body.</label>
        </div>
        <input id="submit-comment-btn" value="Submit" type="submit" name="create-comment" class="btn btn-primary"></input>
    </form>
    {% else %}
    <p>Please sign in to leave a comment.</p>
    {% endif %}
</div>
<div class="well">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
        <h4 class="media-heading">sdgdfgfdg <small> at 2016-06-02</small></h4>
        <p>sdas</p>
        </div>
    </div>
</div>
<div id="loading"></div>
{% endblock %}
{% block javascript %}
<script src="/static/js/comment.js"></script>
{% endblock %}
